@font-face {
  font-family: "lucardio";
  src: url(fonts/montereyflf.ttf);
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

header {
  background: white;
  padding: 1rem;
  margin: 0;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;

}

.headertext {
  display: flex;
  gap: 2rem;
  padding-left: 1rem;
  padding-top: 2rem;
  padding-right: 1rem
}

.headerIMG {
  padding-left: 2rem;
  display: flex;
  align-items: center;
}

.headerIMG>img {
  width: 15rem;
}

.frontheader {
  display: flex;
  justify-content: center;
}

.hero-section {
  background-image: url(img/samples.webp);
  background-size: cover;
  background-position: center;
  height: 50rem;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: white;
}

.slogan {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: darkmagenta;
}

.subtext {
  font-size: 2rem;
  margin-bottom: 1.875rem;
  padding-bottom: 4rem;
  color: darkmagenta;
}

.cta-button {
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: blue;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3125rem;
}

.cta-button:hover {
  background-color: blue;
}

main {
  height: 100%;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.featured-products {
  padding: 2.5rem 0;
  text-align: center;
  background-color: whitesmoke;
  align-items: center;
}

.section-title {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.product-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  list-style: none;
}

.product-item-big {
  width: 100%;
  max-width: 32rem;
}

.product-item img {
  width: 20rem;
  height: max-content;
  margin-bottom: 0.625rem;
}

.product-title {
  font-size: 2rem;
  gap: 1rem;
  justify-content: space-between;
  color: black;
}

.product-title-big {
  font-size: 2.25rem;
  margin-top: 1.25rem;
  width: 100%;
  max-width: 32rem;
}

.product-item {
  width: 20rem;
  margin: 8rem;
  text-decoration: none;
  color: #333;
  justify-content: space-between;

}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}

.mainpicture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mainpicture>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pictureinfo {
  display: flex;
  justify-content: center;
  align-items: left;
  padding-left: 2rem;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 3rem;
}

.pictureinfo>h2 {
  font-size: 4rem;
  color: black;
}

.pictureinfo>p {
  font-size: 2rem;
  color: black;

}

.pictureinfo>button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 50%;
  background: blueviolet;
  font-size: 2.5rem;
  color: white;
  font-style: italic;
  border: rgba(0, 0, 0, 0.6) solid 1px;
  outline: none;
}

.product-item1>img {
  height: 100%;
  width: 80%;
  mix-blend-mode: darken;
  object-fit: contain;
}

.product-item2>img {
  height: 100%;
  width: 90%;
  mix-blend-mode: darken;
  object-fit: contain;
}

.product-item3>img {
  height: 100%;
  width: 80%;
  mix-blend-mode: darken;
  object-fit: contain;
}

.product-item4>img {
  height: 100%;
  width: 80%;
  mix-blend-mode: darken;
  object-fit: contain;
}

.product-item1 {
  text-decoration: none;
}

.product-item2 {
  text-decoration: none;
}

.product-item3 {
  text-decoration: none;
}

.product-item4 {
  text-decoration: none;
}

.card--features {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(14, 1fr);
  gap: 2rem;
}

.card--feature {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* 1/9 -> 10/19 */
/* 1/7 -> 8/14 */
.card--feature-one {
  grid-column: 1/9;
  grid-row: 1/7;
}

.card--feature-two {
  grid-column: 10/19;
  grid-row: 1/7;
}

.card--feature-three {
  grid-column: 1/9;
  grid-row: 8/14;
}

.card--feature-four {
  grid-column: 10/19;
  grid-row: 8/14;
}


.productFunction {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-right: 7.5rem;
  margin-left: 7.5rem;

}

.pictureFunction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pictureFunction>img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.pictureInfos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 3rem;
}

.pictureInfos>h2 {
  font-size: 6rem;
  color: black;
}

.pictureInfos>p {
  font-size: 2.5rem;
  color: black;
}

/* reviews a neef */

.section {
  height: 100%;
}

.section--first {
  background: white;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.review>figure {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__img {
  width: 15rem;
  height: 15rem;
  border-radius: 60%;
}

.arrow {
  width: 20%;
  font-size: 400%;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow:hover {
  transition: 0.7s;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 2rem;
  width: 80%;
  flex-wrap: wrap;
}

.review {
  width: 30rem;
  min-height: 30rem;
  list-style: none;
  padding: 4rem;
  border-radius: .5rem;
  background: white;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2),
    inset 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.2);
  position: relative;
  animation-name: fadeIn;
  animation-duration: 0.6s;
}

.review:nth-of-type(4), .review:nth-of-type(5), .review:nth-of-type(6){
  display: none;
}

.stars{
  color: gold;
}


.review > p{
  font-size: 100%;
  font-style: italic;
  padding-bottom: 2rem;
  border-bottom: .5rem solid rgba(4, 2, 4, 0.4);
}


@media screen and (max-width: 62.5rem) {
  .product-list {
    display: grid;
    grid-template-columns: 50% 50%;
    list-style: none;
  }

  .headertext>h1 {
    font-size: 1.3rem;
  }

  .headerIMG>img {
    width: 10rem;
  }

  .hero-section {
    height: 30rem;
  }

  .pictureinfo {
    gap: 2rem;
  }

  header>h1 {
    font-size: 1rem;
  }

  .slogan {
    font-size: 2rem;
  }

  .subtext {
    font-size: 1rem;
  }


  .pictureinfo>h2 {
    font-size: 3rem;
  }

  .pictureinfo>p {
    font-size: 1rem;
  }

  .pictureinfo>button {
    font-size: 1rem;
    padding: 1rem 50%;
  }
}

@media screen and (max-width: 50rem) {
  .hero-section {
    height: 20rem;
  }

  .pictureinfo {
    gap: 1rem;
  }

  .pictureinfo>h2 {
    font-size: 1.5rem;
  }

  .pictureinfo>p {
    font-size: .5rem;
  }

  .pictureinfo>button {
    font-size: .7rem;
    padding: .3rem 50%;
  }

  .arrow {
    display: none;
  }

  .reviews {
    width: 100%;
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }

  to {
    opacity: 1;
    filter: blur(0);
  }
}